body{
    display: flex;
    background-color: blue;
    color: brown;
}
main{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.left-aside-ads{
    border: 1px red solid;
    background-color: blue;
    width: 100px;
}

.right-aside-ads{
    border: 1px purple solid;
    width: 100px;
}